<p>This website gives information about the etymology of British place names. It currently gives information for <b>{{places.length}}</b> places.</p>

<p>The list of place names is being added to all the time. You can see the source code for this project on GitHub: <a href="https://github.com/BenjaminTMilnes/DictionaryOfBritishPlaceNames" title="A Dictionary of British Place Names on GitHub">https://github.com/BenjaminTMilnes/DictionaryOfBritishPlaceNames</a>. This project has been created by <a href="https://www.benjamintmilnes.com" title="Main Website">Benjamin T. Milnes</a></p>

<div class="search">
    <div class="search-textbox">
        <input type="text" ng-model="searchTerms" placeholder="Search ..." />
    </div>
    <div class="search-results-pagenumbers">
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber - 1)">&larr;</div>
        <div class="pagenumber {{page.class}}" ng-repeat="page in pages" ng-click="setPageNumber(page.pageNumber)">{{(page.pageNumber == -1) ? "..." : page.pageNumber}}</div>
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber + 1)">&rarr;</div>
    </div>
    <div class="search-results">
        <div class="search-results-leftcolumn">
            <div class="search-place" ng-repeat="entry in currentPageSearchResults">
                
                <div class="search-place-primaryname">
                    {{entry.PrimaryName}}
                </div>
                <div class="search-place-description" compile="entry.Description"></div>            
             
            </div>
        </div>
    </div>
    <div class="search-results-pagenumbers">
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber - 1)">&larr;</div>
        <div class="pagenumber {{page.class}}" ng-repeat="page in pages" ng-click="setPageNumber(page.pageNumber)">{{(page.pageNumber == -1) ? "..." : page.pageNumber}}</div>
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber + 1)">&rarr;</div>
    </div>
</div>